<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../static/signup.css">
</head>
<body>
    <div class="nav_bar">
        <h1>Forum</h1>
    </div>
    <div class="signup_overview">
        <form action="" class="signup_form">
            <h2>Sign Up</h2>
            <label for=""><b>Username</b></label>
            <input type="text" placeholder="Nana Omiwa"><br>
            <label for=""><b>Email</b></label>
            <input type="email" placeholder="NanaOmiwa@gmail.com"><br>
            <label><b>Password</b></label>
            <input type="password"><br>
            <a href=""><b><i>Submit Credentials</i></b></a>
        </form>
    </div>
    
</body>
</html>