body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav_bar{
    background-color: brown;
    width: 100%;
    margin-bottom: 20px;
}
.signup_overview{
width:40vw;
height:40vh;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-color: whitesmoke;
}
.signup_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input{
    padding:10px;
    border-radius: 5px;
    margin:5px;
}
a{
    text-decoration: none;
    color:azure;
    background-color: brown;
    padding:10px;
    margin-top: 10px;
    border-radius: 5px;
}